body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:225px;
  overflow:hidden;
}
#u74_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:225px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:173px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:173px;
  height:173px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:225px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:205px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:183px;
  height:205px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:225px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:190px;
  height:190px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:225px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:27px;
  width:198px;
  height:198px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:174px;
  word-wrap:break-word;
}
